@import "tailwindcss";

@theme {
  --animate-bounce-Left: bounce-x 1s infinite;
  @keyframes bounce-x {
    0%,
    100% {
      transform: translateX(0);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(-15%);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
